In [1]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, Table, MetaData

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
#Base.classes.keys()

In [4]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [5]:
Base.classes.keys()

['measurement', 'station']

In [6]:
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [7]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract


# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June.
conn = engine.connect()
measurement_data_df = pd.read_sql("Select * From measurement", conn)
measurement_data_df.head()

   id      station        date  prcp  tobs
0   1  USC00519397  2010-01-01  0.08  65.0
1   2  USC00519397  2010-01-02  0.00  63.0
2   3  USC00519397  2010-01-03  0.00  74.0
3   4  USC00519397  2010-01-04  0.00  76.0
4   5  USC00519397  2010-01-06   NaN  73.0

In [8]:
measurement_data_df.loc[measurement_data_df['date']== 2017]['tobs'].values()

TypeError: 'numpy.ndarray' object is not callable

In [ ]:
#  3. Convert the June temperatures to a list.
measurement_data_df = pd.DataFrame(columns=['date','tobs'])
measurement_data_df= measurement_data_df.rename(columns={"tobs":"June Temps"})
measurement_data_df.set_index(measurement_data_df['date'], inplace=True)
print(measurement_data_df)